/* Base
-----------------------------------------*/
*, *:focus, *:active {
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-moz-selection { background: #3CB8CF; }
::selection { background: #3CB8CF; }


/* Typography
-----------------------------------------*/
html, body {
    font-family: 'Raleway', helvetica, arial, sans-serif;
    text-align: center;
    color: #3CB8CF;
    background: #DEDBDE;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
}
@media (min-width: 568px) {
    html, body {
        font-size: 26px;
    }
}

@media (min-width: 768px) {
    html, body {
        font-size: 26px;
    }
}

@media (min-width: 992px) {
    html, body {
        font-size: 32px;
    }
}

@media (min-width: 1200px) {
    html, body {
        font-size: 40px;
    }
}

h1, h2, h3 {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    margin: 24px 0;
}

a {
    color: #636163;
    text-decoration: none;
}
a:hover {
    color: #3CB8CF;
}


/* Preloader
-----------------------------------------*/
.pre-loader {
    z-index: 1000;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    cursor: default;
    pointer-events: none;
    color: #DEDBDE;
    background-color: #636163;
    background: -webkit-linear-gradient(#636163, #A5A4A6);
    background:    -moz-linear-gradient(#636163, #A5A4A6);
    background:     -ms-linear-gradient(#636163, #A5A4A6);
    background:      -o-linear-gradient(#636163, #A5A4A6);
    background:         linear-gradient(#636163, #A5A4A6);
}
.spinner {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.spinner path, .spinner rect{
    fill: #3CB8CF;
}

body.is-loading {
    overflow: hidden;
}
body.is-loaded {
    overflow: auto;
}


/* Navigation
-----------------------------------------*/
nav {
    width: 20px;
    position: fixed;
    top: 2rem;
    right: 1rem;
    z-index: 900;
}
@media (max-width: 568px) {
    nav {
        display: none;
    }
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin: 0;
    padding: 0;
}
nav li a {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999em;
    border-radius: 100%;
    border: 2px solid #3CB8CF;
    margin-bottom: 6px;
    transition: all 0.5s ease-out;
}
nav li a.current, nav li a:hover {
    background: #3CB8CF;
}


/* Structure
-----------------------------------------*/
html, body, section {
    height: 100%;
}

section {
    text-align: center;
    position: relative;
    background: #DEDBDE;
    z-index: 800;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10vh 6vw;
}
section.current .content {
    position: fixed;
}
@media (max-width: 569px) {
    .content {
        padding: 10vh 4vw;
    }
}

.section-red {
    color: #DEDBDE;
    background: #636163;
    background: -webkit-linear-gradient(#636163, #A5A4A6);
    background:    -moz-linear-gradient(#636163, #A5A4A6);
    background:     -ms-linear-gradient(#636163, #A5A4A6);
    background:      -o-linear-gradient(#636163, #A5A4A6);
    background:         linear-gradient(#636163, #A5A4A6);
}
.section-red a {
    color: #DEDBDE;
}
.section-red a:hover {
    color: #3CB8CF;
}


/* More Arrow
-----------------------------------------*/
@-webkit-keyframes fadeOutDown {
    0% {opacity: 1;}
    20% {opacity: 0;-webkit-transform: translate3d(0, 6px, 0);transform: translate3d(0, 6px, 0);}
    21% {opacity: 0;-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
    41% {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
    100% {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes fadeOutDown {
    0% {opacity: 1;}
    20% {opacity: 0;-webkit-transform: translate3d(0, 6px, 0);transform: translate3d(0, 6px, 0);}
    21% {opacity: 0;-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
    41% {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
    100% {opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
a.more {
    display: block;
    width: 160px;
    height: 75px;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    margin-left: -80px;
    text-transform: uppercase;
    font-size: 20px;
    color: #3CB8CF !important;
}
a.more:hover {
    color: #3CB8CF !important;
}
a.more i.icon-arrow {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    color: #3CB8CF;
    font-size: 60px;
    -webkit-animation: fadeOutDown 3000ms ease-out infinite;
    -webkit-animation-delay: 2s;
}


/* ----------------------------------------- SECTIONS ----------------------------------------- */

/* Home Section
-----------------------------------------*/
.logo {
    margin: 0 auto 20px auto;
}
.logo i.icon-w {
    font-size: 100px;
    color: #3CB8CF;
}
@media (max-width: 569px) {
    .logo i.icon-w {
        font-size: 70px;
    }
}
h1.welcome-heading {
    font-size: 2.6rem;
    line-height: 2.4rem;
    color: #3CB8CF;
}
h1.welcome-heading em {
    display: block;
    font-style: normal;
    background: -webkit-linear-gradient(#636163, #A5A4A6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1.welcome-heading small {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 100;
    display: block;
    text-transform: none;
}
@media (max-width: 569px) {
    h1.welcome-heading {
        font-size: 2.0rem;
        line-height: 2.1rem;
    }
    h1.welcome-heading small {
        font-size: 1.0rem;
        line-height: 1.0rem;
    }
}


/* About Section
-----------------------------------------*/
.avatar {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 100%;
    border: 0.15rem solid #3CB8CF;
    padding: 0.1rem;
    margin: 0 auto;
}
.avatar img {
    max-width: 100%;
    height: auto;
}


/* Work Section
-----------------------------------------*/
.work-links {
    padding: 12vh 0;
}
a.work-link {
    display: inline-block;
    vertical-align: top;
    color: #3CB8CF;
    width: 30%;
    transition: all 0.5s ease-out;
}
a.work-link:hover {
    color: #3CB8CF;
    background: -webkit-linear-gradient(#636163, #A5A4A6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}
a.work-link i {
    font-size: 3.6rem;
    vertical-align: middle;
}
a.work-link h4 {
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
a.work-link h4 small {
    display: block;
    font-weight: 100;
    font-size: 0.6rem;
    text-transform: none;
}
@media (max-width: 320px) {
    .work-links {
        padding: 0;
    }
    a.work-link {
        display: inline-block;
        width: 40%;
        margin: 0.5rem;
    }
    a.work-link i {
        font-size: 2.2rem;
    }
}


/* Skills section
-----------------------------------------*/
.meteor {
    width: 15rem;
    margin: 0 auto;
}
.meteor img {
    max-width: 100%;
    height: auto;
}

a.resume-button {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 0.6rem;
    line-height: 0.4rem;
    text-transform: uppercase;
    background: transparent;
    color: #3CB8CF !important;
    border-radius: 0.8rem;
    font-weight: 700;
    border: 2px solid #3CB8CF;
    vertical-align: middle;
    transition: all 0.5s ease-out;
}
a.resume-button:hover {
    background: #3CB8CF;
    color: #40727B !important;
}
a.resume-button i {
    font-size: 1rem;
    position: relative;
    top: 0.2rem;
    vertical-align: middle;
}


/* Contact section
-----------------------------------------*/
.contact-links {
    padding: 12vh 0;
}
.contact-link {
    font-size: 5rem;
    color: #40727B;
    margin: 0 1rem;
    transition: all 0.5s ease-out;
    display: block;
}
@media (min-width: 768px) {
    .contact-link {
        display: inline-block;
    }
}
.contact-link:hover {
    color: #3CB8CF;
    background: -webkit-linear-gradient(#636163, #DEDBDE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}






