/* Main CSS */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway', sans-serif;;
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Raleway', monospace;
    font-weight: 700;

    margin: 0px 0px 0px 0px;
}

body {
    background: -webkit-linear-gradient(#FFFFF3, #566270);
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}
.cell {
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-photo {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 4px solid #FFFFF3;

    display: block;
    margin-left: auto;
    margin-right: auto;

    background: url('./avatar.jpg') center no-repeat;
    background-size: cover;
}

.my-photo:hover {
    transition: all 0.3s ease-out;
    border-color: #79ff4a;
}


.name {
    font-size: 62px;
    text-align: center;
    font-weight: 100;
    color: #566270;
}

.title {
    font-size: 58px;
    text-align: center;
    font-weight: 900;
    color: #566270;
}

/* links */
.links {
    margin-top: 30px;
    text-align: center;
}

.links .links-text {
    font-size: 30px;
    padding-bottom: 15px;
    color: #FFFFF3;
}

.links a {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 25px;
    text-decoration: none;
    color: #E0E3DA;
    font-weight: 700;
}

.links a:hover {
    color: #79ff4a;
    transition: all 0.25s ease-out
}


/* Modal */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 20px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 19px;
    text-decoration: none;
    font-weight: bold;
}

.close:hover {
    background: #79ff4a;
    color: #000;
}